<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.survive.inc.app1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name="app.survive.inc.app1.splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.survive.inc.app1.NameInputActivity" />
        <activity android:name="app.survive.inc.app1.choosePasswordActivity" />
        <activity android:name="app.survive.inc.app1.CountryPickActivity" />
        <activity android:name="app.survive.inc.app1.ActivationPackActivity" />
        <activity android:name="app.survive.inc.app1.LoadingActivity" />
        <activity android:name="app.survive.inc.app1.ErrorNetActivity" />
        <activity android:name="app.survive.inc.app1.playActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity android:name="app.survive.inc.app1.updateActivity" />
        <activity android:name="app.survive.inc.app1.rateActivity" />

    </application>

</manifest>